<section class="bg-light">
    <div class="container-fluid">
      <div class="row bg-dark">
        <div class="col md-2">
            <div class="d-flex justify-content-end text-white" id="pop">

               <i  class='fas fa-home py-2 mx-3 fx-5x' style="cursor: pointer;" routerLink="/home">HOME</i>  
            
              </div>
  
        </div>
      </div>
   </div>
   <h1 id="user" class="text-danger"></h1><br>
  <div class="jumbotron">
          <div class="container-fluid"> 
                  <div ng-controller="myPosts">
                          <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Title</th>
                            </tr>
                            </thead>
                            <tbody>
                          <tr *ngFor="let item of myposts">
                                  <!--<td>{{item.postId}}</td>-->
                                  <td><a (click)="viewPost(item)">{{item.title}}</a></td>
                                  <i  class='fas fa-trash py-2 mx-3 fx-5x' style="cursor: pointer;" (click)="deletePost(item)"></i>
                                  <!--<td><input type="button" value="show" (click)="viewPost(item)"/></td>-->
                                  <!--<td><button class="btn btn-primary" ng-click="edit(item)">Edit</button></td>-->
                          </tr>
                          </tbody>
                  </table>
              </div>
              <a  href="/home" >
                      <span >Back to top</span>
               </a>
              <div class="row">
                  <div class="col-sm-8 offset-sm-2">
                  </div>
              </div>
          </div>
      </div>
    </section>
  